TP2_SOA/src/xsd/ServiceBanque.dtd

<?xml version="1.0" encoding="UTF-8"?>
<!ELEMENT BanqueService (conversion,getCompt,getComptes)>
<!ELEMENT conversion (montant)>
<!ELEMENT montant (#PCDATA)>
<!ELEMENT getCompt (compt)>
<!ELEMENT getComptes (compt+)>
<!ELEMENT compt (code,solde,dateCreation)>
<!ELEMENT code (#PCDATA)>
<!ELEMENT solde (#PCDATA)>
<!ELEMENT dateCreation (#PCDATA)>
